$base-font: 'Poppins', 'helvetica neue', sans-serif;
$header-font: 'Playfair Display', serif;

//Font Sizes
$font-size-xxl: 120px;
$font-size-xl: 72px;
$font-size-lg: 48px;
$font-size-md: 32px;
$base-font-size: 22px;
$font-size-sm: 18px;
$font-size-xs: 14px;