$base-font: 'Poppins', 'helvetica neue', sans-serif;
$header-font: 'Playfair Display', serif;
$bp-font-change: 700px;

//Font Sizes
$font-size-xxl: 120px;
$font-size-xl: 60px;
$font-size-lg: 48px;
$font-size-md: 32px;
$base-font-size: 20px;
$font-size-sm: 18px;
$font-size-xs: 14px;