<div class="card card--stacked {{ custom_classes }}">
  <div class="card__media">
    <img src="http://picsum.photos/900/540" class="card__image">
    <div class="card__media-type">{{ media_type }}</div>
  </div>
  <div class="card__content">
    <h1 class="card__title">{{ title }}</h1>
    <div class="card__description">{{ description }}</div>
    <a href="#" class="button">Explore Project</a>
  </div>
</div>
