<div class="card card--stacked {{ custom_classes }}">
  <div class="card__media">
    <img src="http://picsum.photos/900/540" class="card__image">
    <div class="card__media-type">Photography</div>
  </div>
  <div class="card__content">
    <h1 class="card__title">Quisque Velit at Nisi</h1>
    <div class="card__description">Quisque velit nisi, pretium ut lacinia in, elementum id enim. Pellentesque in ipsum id orci porta dapibus.</div>
    <a href="#" class="button">Explore Project</a>
  </div>
</div>
