<div class="card {{ custom_class }}">
  <a href="{{ url }}" class="card__link">
    <div class="card__image" style="background-image: url({{ image }})"></div>
    <div class="card__borders"></div>
    <div class="card__content">
      <div class="card__title">{{ title }}</div>
    </div>
  </a>
</div>