<div class="footer">
  <div class="l-constrain">
    <div class="footer__row">
      <div class="flex-column">
        <div class="footer__site-name">Brett Line</div>
        <div class="footer__author">Website By: Tommy Alter</div>
      </div>
      <div class="flex-column">
        <nav class="footer__nav">
          <a href="#" class="nav__item facebook"></a>
          <a href="#" class="nav__item twitter"></a>
          <a href="#" class="nav__item linkedin"></a>
          <a href="" class="nav__item vimeo"></a>
          <a href="" class="nav__item youtube"></a>
        </nav>
      </div>
    </div>
  </div>
</div>