<div class="hero">
  <div class="hero__video" data-vide-bg="mp4: https://www.gordonmac.com/wp-content/uploads/storm-1.mp4, poster: https://www.gordonmac.com/wp-content/uploads/storm-1.png" data-vide-options="posterType: png, loop: true, muted: true, position: 50% 50%"></div>
  <div class="hero__content">
    <div class="hero__logo"></div>
    <div class="hero__subtitle">
      <span>FILM</span>
      <span>PHOTOGRAPHY</span>
      <span>GRAPHICS</span>
    </div>
  </div>
</div>