<div class="hero">
  <div class="hero__video" data-vide-bg="mp4: {{ video }}" data-vide-options="loop: true, muted: true, position: 50% 50%"></div>
  <div class="hero__content">
    <div class="hero__logo"></div>
    <div class="hero__subtitle">
      <span>FILM</span>
      <span>PHOTOGRAPHY</span>
      <span>GRAPHICS</span>
    </div>
  </div>
</div>