<div class="main-menu">
  <div class="main-menu__left">
    <nav class="nav nav--main">
      <a href="#" class="nav__link">HOME</a>
      <a href="#" class="nav__link">FILM</a>
      <a href="#" class="nav__link">PHOTOGRAPHY</a>
      <a href="#" class="nav__link">GRAPHICS</a>
    </nav>
    <nav class="nav nav--social">
      <a href="#" class="nav__link facebook"></a>
      <a href="#" class="nav__link twitter"></a>
      <a href="#" class="nav__link linkedin"></a>
      <a href="#" class="nav__link vimeo"></a>
      <a href="#" class="nav__link youtube"></a>
    </nav>
  </div>
  <div class="main-menu__right" style="background-image: url({{ image }});">
    <div class="main-menu__logo"></div>
  </div>
</div>