<div class="main-menu">
  <div class="main-menu__left">
    <nav class="nav nav--main">
      {% for item in main_menu.items %}
        <a href="{{ item.link }}" class="nav__link">{{ item.title }}</a>
      {% endfor %}
    </nav>
    {% include "partials/social-menu.twig" %}
  </div>
  <div class="main-menu__right" style="background-image: url({{ image }});">
    <div class="main-menu__logo"></div>
  </div>
</div>