<div class="media-list">
  <div class="flex-grid flex-grid--3-col">
    {% set '' %}
    {% for item in list %}
    
    {% endfor %}
    <div class="flex-column">
      {% include "partials/card.twig" with {
        image: "http://picsum.photos/600/400",
        title: "Curabitur Aliquet Quam"
      }%}
    </div>
  </div>
</div>