html {
  color: $black;
  font-family: $base-font;
  font-size: $font-size-sm;
  font-weight: 300;
  margin: 0;
  padding: 0;

  @include breakpoint(700px) {
    font-size: $base-font-size;
  }
}

body {
  margin: 0;
  padding: 0;
}

a {

}

p {

}

// HEADINGS
h1 {
  color: $teal;
  font-family: $header-font;
  font-size: $font-size-lg;
  font-weight: 700;
  margin-top: 0;

  @include breakpoint($bp-font-change) {
    font-size: $font-size-xl;
  }
}

h2 {
  color: $teal;
  font-family: $header-font;
  font-size: $font-size-med;
  font-weight: 700;
  margin-top: 0;

  @include breakpoint($bp-font-change) {
    font-size: $font-size-lg;
  }
}

h3 {
  color: $teal;
  font-family: $header-font;
  font-weight: 700;
  margin-top: 0;
}

h4 {
  font-family: $header-font;
  margin-top: 0;
}

h5 {
  font-family: $header-font;
  margin-top: 0;
}


