{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<header class="header" >
			{% block header %}
				<div class="main-menu-button">
					<span></span>
					<span></span>
					<span></span>
				</div>
			{% endblock %}
		</header>

		{% block content %}

		{% endblock %}

		{% block footer %}
			{% include 'partials/footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		{% block main_menu %}
			{% include "partials/main-menu.twig" with {
				image: "http://picsum.photos/1600/900"
			}%}
		{% endblock %}

		<!-- JQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		{# <script src="../js/jquery.vide.min.js"></script> #}
	</body>
</html>
