{% extends "base.twig" %}

{% block content %}

  <div class="l-constrain">

    <!-- Page Title -->
    {% include "partials/page-title.twig" with {
      title: post.title,
      custom_classes: "page-title--large"
    }%}

    <!-- Page Subtitle -->
    {% include "partials/page-subtitle.twig" with {
      subtitle: post.content,
      custom_classes: "page-subtitle--large"
    }%}

    <!-- Media List -->
    <div class="section padded--med">
      <div class="media-list">
        <div class="flex-grid flex-grid--3-col">
          {% for item in graphics %}
            <div class="flex-column">
              {% include "partials/card.twig" with {
                image: item.thumbnail,
                title: item.title,
                url: item.link
              }%}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
    

    <!-- Media Navigation -->
    {% include "partials/nav-media.twig" with {
      left_link: "Film",
      right_link: "Photography"
    }%}

  </div>

{% endblock %}
