{% extends "base.twig" %}

{% block content %}
  {% include "partials/hero.twig" %}

  <div class="l-constrain l-constrain--narrow">
    {% include "partials/featured-text.twig" with {
      text: "This is a Test."
    }%}
  </div>
{% endblock %}