{% extends "base.twig" %}

{% block content %}

  <div class="l-constrain">

    <!-- Page Title -->
    {% include "partials/page-title.twig" with {
      title: "Photography",
      custom_classes: "page-title--large"
    }%}

    <!-- Page Subtitle -->
    {% include "partials/page-subtitle.twig" with {
      subtitle: "Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec rutrum congue leo eget malesuada. Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem.",
      custom_classes: "page-subtitle--large"
    }%}

    <!-- Media List -->
    <div class="media-list">
      <div class="flex-grid flex-grid--3-col">
        {% for item in photography %}
          <div class="flex-column">
            {% include "partials/card.twig" with {
              image: item.thumbnail,
              title: item.title,
              url: item.link
            }%}
          </div>
        {% endfor %}
      </div>
    </div>

    <!-- Media Navigation -->
    {% include "partials/nav-media.twig" with {
      left_link: "Film",
      right_link: "Graphics"
    }%}

  </div>

{% endblock %}
