{% extends "base.twig" %}
{% set body_class = 'page-homepage' %}

{% block content %}

  {# Hero #}
  {% include "partials/hero.twig" with {
    video: post.get_field('hero_video')
  }%}

  {# Featured Text #}
  <div class="l-constrain l-constrain--narrow">
    {% include "partials/featured-text.twig" with {
      text: post.featured_text
    }%}
  </div>

  {# Stacked Cards #}
  <div class="l-constrain">
  
    {% for item in featured_film %}
      {% include "partials/featured-work.twig" with {
        title: item.title,
        description: item.film_description|truncate(20, true, '.......'),
        media_type: "Film",
        image: item.thumbnail,
        url: item.link
      }%}
    {% endfor %}

    {% for item in featured_graphic %}
      {% include "partials/featured-work.twig" with {
        custom_classes: "is-reversed",
        title: item.title,
        description: item.graphic_description|truncate(20, true, '.......'),
        media_type: "Graphic",
        image: item.thumbnail,
        url: item.link
      }%}
    {% endfor %}

    {% for item in featured_photography %}
      {% include "partials/featured-work.twig" with {
        title: item.title,
        description: item.photography_description|truncate(20, true, '.......'),
        media_type: "Photography",
        image: item.thumbnail,
        url: item.link
      }%}
    {% endfor %}
    
  </div>

{% endblock %}
