{% extends "base.twig" %}

{% block content %}

  <div class="l-constrain l-constrain--narrow">

    {% include "partials/page-title.twig" with {
      title: post.title
    }%}

    {% include "partials/page-subtitle.twig" with {
      subtitle: post.photography_description
    }%}
    
  </div>

  {# Gallery #}
  <div class="section padded-top--med padded-bot--lg">
    <div class="slider">
      {% for image  in post.get_field('photography_gallery') %}
        <div class="slider__item">
          <img class="slider__image" src="{{ image.url }}"/>
        </div>
      {% endfor %}
    </div>
  </div>
  

  {# Explore other photos #}
  <div class="section section--teal padded--lg">
    <div class="l-constrain l-constrain--narrow">
      <h3 class="section__title section__title--white">You Might Also Enjoy</h3>
      <div class="flex-grid flex-grid--2-col">
        {% for item in related_photos %}
          <div class="flex-column">
            {% include "partials/card.twig" with {
              image: item.thumbnail,
              title: item.title,
              url: item.link,
              custom_class: "card--white"
            }%}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  

{% endblock %}
