{% extends "base.twig" %}

{% block content %}

  <div class="l-constrain l-constrain--narrow">

    {% include "partials/page-title.twig" with {
      title: post.title
    }%}

    {% include "partials/page-subtitle.twig" with {
      subtitle: post.photography_description
    }%}

    {{ post.photography_images }}
    

  </div>

  

{% endblock %}
