.featured-text {
  padding: $spacing-xl 0;
}

.featured-text__content {
  color: $grey-med;
  font-family: $header-font;
  font-size: $font-size-med;
  font-weight: 700;
  position: relative;
  text-align: center;

  @include pseudoblock(before, block) {
    position: absolute;
    width: 100px;
    height: 1px;
    top: -40px;
    left: calc(50% + 8px);
    transform: translateX(-50%);
    background-color: $grey-med;
  }

  @include pseudoblock(after, block) {
    position: absolute;
    width: 100px;
    height: 1px;
    top: -30px;
    left: calc(50% - 8px);
    transform: translateX(-50%);
    background-color: $grey-med;
  }

  @include breakpoint(700px) {
    font-size: $font-size-lg;
  }
}