.gallery {
  margin: $spacing-med 0 $spacing-lg 0;
}

.gallery__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.5em;
  margin-right: -0.5em;

  .flex-column {
    display: block;
    flex-basis: 100%;
    margin-bottom: 1em;
    max-width: 100%;

    @include breakpoint(400px) {
      flex-basis: 50%;
      max-width: 50%;
    }

    @include breakpoint(700px) {
      flex-basis: 25%;
      max-width: 25%;
    }
  }
}

.gallery__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0;
  padding-top: 100%;
}