.main-menu-button {
  @include svg-background(hamburger-teal);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  height: 36px;
  position: fixed;
  right: 1.5em;
  top: 1.5em;
  width: 40px;
  z-index: 9;

  &.is-active {
    @include svg-background(close);
  }

  &.is-white {
    @include svg-background(hamburger);

    &.is-active {
      @include svg-background(close);
    }
  }
}