$bp-main-menu: 800px;

.main-menu {
  height: 100%;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;

  &.is-active {

    .main-menu__left {
      transform: translateX(0);
    }
  }

  @include breakpoint($bp-main-menu) {
    display: flex;

    &.is-active {
      .main-menu__left,
      .main-menu__right {
        transform: translateX(0);
      }
    }
  }
}

.main-menu__left {
  background-color: #fff;
  display: block;
  flex-basis: 45%;
  height: 100%;
  max-width: 100%;
  padding: 0 20px;
  position: relative;
  transform: translateX(-100%);
  transition: all 350ms ease-out;

  @include breakpoint($bp-main-menu) {
    max-width: 45%;
  }
}

.main-menu__right {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  flex-basis: 55%;
  height: 100%;
  max-width: 55%;
  position: relative;
  transform: translateX(100%);
  transition: all 350ms ease-out;

  @include pseudoblock(after, block) {
    background-image: linear-gradient(to right, rgba(#000, .5), rgba(#000, 0));
    height: 100%;
    position: absolute;
    width: 100%;
  }
}

.main-menu__logo {
  @include svg-background(brett-line-logo);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 206px;
  left: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 326px;
  z-index: 1;
}