$bp-nav-media: 800px;

.nav--media {
  align-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: $spacing-lg 0;

  @include breakpoint($bp-nav-media) {
    margin: $spacing-xl 0;
  }

  .nav__item {
    color: $teal;
    display: block;
    flex-basis: 100%;
    font-family: $header-font;
    font-size: $font-size-med;
    font-weight: 700;
    margin-bottom: .5em;
    max-width: 100%;
    text-align: center;
    text-decoration: none;

    @include breakpoint(500px) {
      flex-basis: auto;
      max-width: auto;
      text-align: left;
      margin-bottom: 0;
    }

    @include breakpoint($bp-nav-media) {
      font-size: $font-size-lg;
    }

    &:first-child {

      @include breakpoint(500px) {
        border-right: solid 1px $teal;
        margin-right: .5em;
        padding-right: .5em;
      }

      @include pseudoblock(before, inline-block) {
        @include svg-background(chevron-left-teal);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        width: 10px;
        height: 24px;
        margin-right: 20px;
        opacity: 1;
        transition: all 500ms ease-out;

        @include breakpoint($bp-nav-media) {
          height: 36px;
          width: 14px;
          opacity: 0;
        }
      }

      &:hover {
        &:before {
          transform: translateX(-10px);
          opacity: 1;
        }
      }

      @include breakpoint($bp-nav-media) {
        margin-right: 1em;
        padding-right: 1em;
      }
    }

    &:last-child {

      @include pseudoblock(after, inline-block) {
        @include svg-background(chevron-right-teal);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 24px;
        margin-left: 20px;
        opacity: 1;
        transition: all 500ms ease-out;
        width: 10px;

        @include breakpoint($bp-nav-media) {
          height: 36px;
          width: 14px;
          opacity: 0;
        }
      }

      &:hover {
        &:after {
          transform: translateX(10px);
          opacity: 1;
        }
      }
    }
  }
}