.page-subtitle {
  margin: $spacing-med 0 $spacing-lg;
  font-size: $base-font-size;
  color: $grey-med;
  font-weight: 200;

  &.page-subtitle--large {
    @include breakpoint(700px) {
      font-size: 28px; 
    }
  }
}