.nav--social {
  display: flex;
  justify-content: center;
  position: relative;

  @include breakpoint($bp-footer) {
    justify-content: flex-end;
    top: 50%;
    transform: translateY(-50%);
  }

  .nav__link {
    @include image-replace(40px, 40px);
    display: block;
    margin-right: 5px;
    transition: all 250ms ease-in-out;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: .5;
    }
  }
}